@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

.todo{
  max-width: 400px;
  margin: 20px auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

body {
  background-color: #16161D;
  color: #3B8A9F;
}

input {
  outline: none;
  background-color: #1F1F28;
  padding: 6px;
  border-radius: 6px;
}

input[type='checkbox'] {
  display: none;
}

input[type='checkbox']+label::before {
  content: '';
  display: inline-block;
  width: 12px;
  height: 12px;
  background-color: #fff;
  border-radius: 4px;
  margin-right: 10px;
  transition: all .3s ease;
  cursor: pointer;
}

input[type='checkbox']:checked+label::before {
  background-color: #CDC378;
}